# analysis
using duckdb native connection with jupysql. Jupytsql converts code cell into a sql cell.

In [1]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [2]:
import duckdb
import pandas as pd

In [3]:
%load_ext sql

Tip: You may define configurations in /Users/x2027763/personal/snowdon24/pyproject.toml or /Users/x2027763/.jupysql/config.

Did not find user configurations in /Users/x2027763/personal/snowdon24/pyproject.toml.

In [9]:
conn = duckdb.connect()
%sql conn --alias duckdb

In [10]:
input_df = pd.DataFrame.from_dict({"i": [1, 2, 3], "j": ["one", "two", "three"]})

In [11]:
%sql select sum(i) as total_i from input_df;

   total_i
0      6.0

In [12]:
%%sql
output_df << SELECT sum(i) AS total_i 
FROM input_df;